<ion-list *ngIf="tasks.length > 0; else noTasks">
  <ion-item-sliding   *ngFor="let task of tasks; let i= index">
    <ion-item [ngClass]="{ 'completed-task': task.completed }" >
      <ion-label>
         <h2><strong>{{ i + 1 }}. {{ task.title }}</strong></h2>
         <p>{{ task.categoryName || 'Sin categoría' }}</p>
      </ion-label>
        <ion-checkbox slot="end" [(ngModel)]="task.completed" (ionChange)="onTaskCompletionChange(task.id, task.completed)"></ion-checkbox>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="deleteTask(task.id)"> 
        <ion-icon slot="start" name="trash"></ion-icon>Eliminar
      </ion-item-option>
      <ion-item-option color="secondary" (click)="editTask(task)"> 
        <ion-icon slot="start" name="create"></ion-icon>Editar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ng-template #noTasks>
  <p style="text-align: center;">No hay tareas guardadas, crea una nueva.</p>
</ng-template>